<div class="alert alert-info text-center">
  <% flash.each do | type, msg | %> <%# esse flash para pegar as mensagem de erro nesse caso ele  é para usar com "render" ele é uma parcial que tem "_"%>
    <div>
    
      <%= msg%>

    </div>
  <% end %>
</div>