<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <%= render 'layouts/userSettings/menu' %>
        </div>
      </div>
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <h2>Meus endereços</h2>
            <p>LISTAS DE ENDEREÇOS</p>
          </div>
          <%= render 'layouts/userSettings/modal_option_img' %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
